/*
// ChurchTools Calendar
*/
.cname {
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
}

.cdate {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

#events {
    margin-left: auto;
    margin-right: auto;
}

/*.event{
    float: left;
    background-color: rgba(222, 231, 247, 0.42);
  	background-color: #f1f5fc;
    padding-left: 15px;
  	padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width:350px;
    margin: 1%;
    width: 30%;
    min-height: 130px;
}
.event:hover{
  background-color: rgba(222, 231, 247, 0.9);
}
@media (min-width: 500px) and (max-width: 936px) {
  .event{
    width: 48%;
  }
}
@media (max-width: 499px) {
  .event{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}*/
.category_name {
    font-style: italic;
}
